.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-blue{
    color: #4A69E8;
}

.text-subtitle{
    color: #667F99;
    font-size: 18px;
}

.text-sm{
    color: #667F99;
    font-size: 12px;
}