<!-- 邁向你真正想過的生活，從這裡開始 -->
<section class="container py-8">   
    <div class="bg-primary rounded-4 py-md-6 py-4 px-md-9 px-6 d-flex flex-column align-items-start gap-6 text-white">
        <img src="../assets/images/logo-icon-w.svg" alt="logo">
        <div class="d-flex flex-column gap-3 border-bottom-dashed w-100">
            <h2 class="fw-bold fs-md-2 fs-3">邁向你真正想過的生活，從這裡開始</h2>
            <p class="lh-base fs-md-6 fs-7 pb-6">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
        </div>
        <div class="w-100">
        <div class="d-flex gap-md-6 gap-4 mb-auto flex-column flex-md-row align-items-start">
            <p class="fw-medium fs-md-5 fs-6"><span class="material-icons-outlined align-middle pe-2">call</span>0800-123-123</p>
            <p class="fw-medium fs-md-5 fs-6 flex-md-grow-1"><span class="material-icons-outlined align-middle pe-2">mail</span>Sample@mail.com</p>
            <a href="contact-us.html" class="btn btn-dark py-3 ps-3 ps-md-5 pe-2 pe-md-3 mt-2 mt-md-0">預約免費職涯探索<span class="material-icons-outlined align-text-top" style="width: 20px; height: 20px;">chevron_right</span></a>
        </div>
    </div>
      

    </div>
</section>