<footer class="navbar bg-gray border-top py-md-9 py-6">
    <div class="container">
        <div class="d-flex flex-md-row flex-column justify-content-md-between align-items-center flex-grow-1">
            <ul class="d-flex flex-row flex-wrap justify-content-center navbar-nav row-gap-2">
                <li class="nav-item">
                    <a class="nav-link py-2 px-md-6 px-4 ms-auto ms-md-0" aria-current="page" href="plan.html">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-md-6 px-4" aria-current="page" href="about.html">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-md-6 px-4 me-auto me-md-0" aria-current="page" href="contact-us.html">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-md-6 px-4 ms-auto ms-md-0" aria-current="page" href="privacy.html">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-md-6 px-4 me-auto me-md-0" aria-current="page" href="service.html">用戶條款</a>
                </li>
            </ul>
            <p class="text-natural-50 fs-8 mt-2 mt-md-0">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </div>
</footer>