
<nav class="navbar fixed-top navbar-expand-md bg-white border-bottom py-3">  
  <div class="container">
    <!-- 品牌 LOGO -->
    <a class="navbar-brand" href="index.html">
        <img src="../assets/images/logo.svg" alt="職旅Workway" class="nav-img">
    </a>

    <!-- 登入註冊按鈕-可切換登入 -->
    <input type="checkbox" class="btn-check successfully-login" id="btn-check" autocomplete="off">
    <label for="btn-check" class="btn btn-outline-natural-85 text-black order-md-1" data-bs-toggle="modal" data-bs-target="#WorkWay-Login">
      <span class="login-text px-md-3 px-1">登入/註冊</span>
      <span class="login-avatar">
        <a href="user.html">
          <img src="../assets/images/avatar.png" alt="Mokumaru" style="width: 44px; height: 44px;"  class="rounded-pill border me-2">
          <span class="text-black fw-medium fs-md-7 fs-8 align-middle">Mokumaru</span>          
        </a>
      </span>

    </label>
    
    <!-- 登入註冊按鈕-無切換功能 -->
    <!-- <button type="button" class="btn btn-outline-natural-85 text-black order-md-1 ms-auto" data-bs-toggle="modal" data-bs-target="#WorkWay-Login" aria-expanded="false">
      登入/註冊
    </button> -->

    <!-- 響應式漢堡 -->
    <button class="navbar-toggler order-md-2 ms-md-3 ms-0" type="button" data-bs-toggle="modal" data-bs-target="#Workway-nav" aria-controls="Workway-nav" aria-expanded="false" aria-label="Workway Nav" style="border: 0;">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <!-- nav-item -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="plan.html">服務方案</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="about.html">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="contact-us.html">聯絡我們</a>
        </li>
      </ul>
    </div>    
    
    <!-- 使用者Mokumaru -->
    <!-- <a href="user.html"><img src="../assets/images/avatar.png" alt="Mokumaru" style="width: 44px; height: 44px;"  class="rounded-pill border me-2">Mokumaru</a> -->

  </div>
</nav>

<!-- 手機-nav-item-modal -->
<div class="modal fade" id="Workway-nav" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content pt-6 px-6">
      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close" style="padding: 15px;"></button>
      <div class="modal-body px-6">
        <ul class="navbar-nav d-flex align-items-center gap-6">
          <li class="nav-item py-4">
            <a class="nav-link" aria-current="page" href="plan.html">服務方案</a>
          </li>
          <li class="nav-item py-4">
            <a class="nav-link" aria-current="page" href="about.html">關於職旅</a>
          </li>
          <li class="nav-item py-4">
            <a class="nav-link" aria-current="page" href="contact-us.html">聯絡我們</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer mb-6" style="border: 0;">
        <!-- 登入註冊按鈕 -->
        <button type="button" class="btn btn-secondary w-75 mx-auto rounded-1 fw-bold fs-5" data-bs-toggle="modal" data-bs-target="#WorkWay-Login" aria-expanded="false">登入/註冊</button>
      </div>
    </div>
  </div>
</div>

<!-- 登入modal -->
<div class="modal fade" id="WorkWay-Login" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
    <div class="modal-content">      
      <div class="modal-body p-0 rounded-3 d-flex">        
        <div class="container-fluid">
          <div class="row">
            <div class="d-none d-xl-block col-xl-7" style="background-image: url(../assets/images/about/login.png); background-size: cover; background-position: right; border-radius: 24px 0 0 24px;">
            </div>
            <div class="col-xl-5">
              <div class="pt-9 px-md-9 px-6 d-flex flex-column align-items-center gap-md-9 gap-6 position-relative">
                <!-- 關閉按鈕  -->
                <button type="button" class="btn-close position-absolute mt-5 me-5 top-0 end-0" data-bs-dismiss="modal" aria-label="Close" style="padding: 15px;"></button>
                <h2 class="fw-bold fs-3 fs-md-2">登入</h2>                
                <div class="d-flex flex-column gap-4 w-100">                  
                  <button type="button" class="btn btn-outline-natural-85 text-black py-3 fs-md-7 fs-8 lh-base"><img class="align-bottom pe-1" src="../assets/images/google.png" alt="google登入">Google</button>
                  <button type="button" class="btn btn-outline-natural-85 text-black py-3 fs-md-7 fs-8 lh-base"><img class="align-bottom pe-1" src="../assets/images/discord.png" alt="discord登入">Discord</button>
                  <hr class="text-natural-85" style="opacity: 100%;">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="fs-md-7 fs-8 lh-base">帳號</label>
                  </div>
                  <div class="input-group">
                    <div class="form-floating position-relative">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword" class="fs-md-7 fs-8 lh-base">密碼</label>
                      <button type="button" class="btn btn btn-link text-black position-absolute top-50 end-0 translate-middle-y">
                        <span class="material-icons-outlined pt-1">visibility_off</span>
                      </button>
                    </div>

                  </div>
                  <a href="#" class="ms-auto fs-8 lh-base text-natural-50">忘記密碼</a>

                  <input type="checkbox" class="btn-check successfully-login" id="btn-check" autocomplete="off">
                  <label class="btn btn-dark rounded-1 py-3" for="btn-check">
                    送出<span class="material-icons-outlined align-top ms-1" style="width: 20px; height: 20px;">chevron_right</span>
                  </label>

                </div>
                <div class="d-flex align-items-center" style="padding-bottom: 142px;">
                  <p class="fs-8 fs-md-7 fw-medium fs-8 fs-md-7 text-natural-50 pe-1">不是會員？</p>
                  <button type="button" class="btn btn-link p-0" style="text-decoration: underline;" data-bs-toggle="modal" data-bs-target="#WorkWay-Signin" aria-expanded="false">快速註冊</button>                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>    
    </div>
  </div>
</div>

<!-- 註冊modal -->
<div class="modal fade" id="WorkWay-Signin" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
    <div class="modal-content">      
      <div class="modal-body p-0 rounded-3 d-flex">        
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5">
              <div class="pt-9 px-md-9 px-6 d-flex flex-column align-items-center gap-md-9 gap-6 position-relative">
                <!-- 關閉按鈕  -->
                <button type="button" class="btn-close position-absolute mt-5 me-5 top-0 end-0" data-bs-dismiss="modal" aria-label="Close" style="padding: 15px;"></button>
                <h2 class="fw-bold fs-3 fs-md-2">註冊</h2>                
                <div class="d-flex flex-column gap-4 w-100">                  
                  <button type="button" class="btn btn-outline-natural-85 text-black py-3 fs-md-7 fs-8 lh-base"><img class="align-bottom pe-1" src="../assets/images/google.png" alt="google登入">Google</button>
                  <button type="button" class="btn btn-outline-natural-85 text-black py-3 fs-md-7 fs-8 lh-base"><img class="align-bottom pe-1" src="../assets/images/discord.png" alt="discord登入">Discord</button>
                  <hr class="text-natural-85" style="opacity: 100%;">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="fs-md-7 fs-8 lh-base">帳號</label>
                  </div>
                  <div class="input-group">
                    <div class="form-floating position-relative">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword" class="fs-md-7 fs-8 lh-base">密碼</label>
                      <button type="button" class="btn btn btn-link text-black position-absolute top-50 end-0 translate-middle-y">
                        <span class="material-icons-outlined pt-1">visibility_off</span>
                      </button>                      
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="form-floating position-relative">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword" class="fs-md-7 fs-8 lh-base">確認密碼</label>
                      <button type="button" class="btn btn btn-link text-black position-absolute top-50 end-0 translate-middle-y">
                        <span class="material-icons-outlined pt-1">visibility_off</span>
                      </button>                      
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agreement">
                    <label class="form-check-label" for="agreement">
                      我同意<a href="service.html" class="text-primary px-1" style="text-decoration: underline;" target="_blank">服務條款</a>和<a href="privacy.html" class="text-primary px-1" style="text-decoration: underline;" target="_blank">隱私政策</a>
                    </label>
                  </div>

                  <input type="checkbox" class="btn-check successfully-login" id="btn-check" autocomplete="off">
                  <label class="btn btn-dark rounded-1 py-3" for="btn-check">
                    送出<span class="material-icons-outlined align-top ms-1" style="width: 20px; height: 20px;">chevron_right</span>
                  </label>

                </div>
                <div class="d-flex align-items-center" style="padding-bottom: 142px;">
                  <p class="fs-8 fs-md-7 fw-medium fs-8 fs-md-7 text-natural-50 pe-1">已經會員？</p>
                  <button type="button" class="btn btn-link p-0" style="text-decoration: underline;" data-bs-toggle="modal" data-bs-target="#WorkWay-Login" aria-expanded="false">直接登入</button>                
                </div>
              </div>
            </div>

            <div class="d-none d-xl-block col-xl-7" style="background-image: url(../assets/images/about/register.png); background-size: cover; background-position: left; border-radius: 0 24px 24px 0;">
            </div>

          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

