

// .rounded-panel{
//     border-radius: 24px;
//     background-color: #FCFCFD;
// }

.side-width{
    @include mobile{
        width: 300px;        
    }    
}

.side-leftwidth{
    width: 23%;;
}

.tab-btn-bg {
    .nav-link{
        background-color: $white;
    }
}


.list-group-item{
    &:nth-child(even){
        background-color: $natural-90;
    }
    &:hover{
        background-color: $primary-90 ;
    }
}
