
// 對話框
.speech-bubble {
	position: relative;
	background: $white;
	border: 3px solid $primary;
	border-radius: 12px;
	padding-top: 12.8px;
	padding-bottom: 12.8px;
	padding-right: 24px;
	padding-left: 24px;
	color: $primary;
	font-weight: $font-weight-bold;
	 
}
.speech-bubble:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: $primary;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: $white;
	border-bottom: 0;
	margin-left: -16px;
	margin-bottom: -15px;
}

// 圖片左下標籤
.span-lowerLeft{
	position: absolute;
	bottom:0; 
	left:0;
	border-radius: 0 12px 0 0;
	text-align: center;
}

//虛線底線樣式
.border-bottom-dashed{
	border-bottom: dashed 1px $natural-85;
}

//手風琴accordion
.accordion-item{
	border-radius: 12px;	
	margin-bottom: 16px;
	border: 1px solid $natural-85;	
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.12);
	@include mobile{
		margin-bottom: 24px;
	}
}
.accordion-button{
	border-radius: 12px;
	line-height: 1.2;
	font-weight: 700;
	font-size: 16px;
	@include mobile{
		font-size: 18px;
	}
}
.accordion-body{
	font-size: 14px;
	line-height: 1.5;
	text-align: start;
	p{
		padding-top: 16px;
		margin-top: -24px;
		border-top: 1px dashed $natural-85;
		span{
			font-weight: 700;
			line-height: 1.2;
			color:  $primary;
			font-size: 18px;
		}
	}
}

//ul圓點
.dot{
	list-style-type: disc;
}

.mt-minus8{
	margin-top: -8px;
}

//菱形小圖案
.diamond-list{
	padding-left: 5px;
	&::before{
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 2px solid $primary;
		transform: rotate(45deg);
		vertical-align: middle;
		margin-right: 13px;
	}
}

//HOT綠色外框+標籤
// .hot{
// 	position: absolute;
// 	padding-top: 8px;
// 	padding-bottom: 8px;
// 	padding-left: 15px;
// 	padding-right: 16px;
// 	color: $black;
// 	font-weight: 700;
// 	top: 0;
// 	left: 0;
// 	background-color: $secondary;
// 	border-radius: 0 0 12px 0;
// }

//HOT-active切換效果
.hot-input{
	display: none;
}
.hot-label{
	border: 2px solid transparent;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
}
.hot-input:checked{
	+ .hot-label{
		border: 2px solid $secondary;
		border-radius: 15px;
		&:before{
			content: "HOT";
			position: absolute;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 15px;
			padding-right: 16px;
			margin-left: -1px;
			color: $black;
			font-weight: 700;
			top: 0;
			left: 0;
			background-color: $secondary;
			border-radius: 0px 0 12px 0;
	
		}
	}
}




//swiper-x卷軸
.swiper-wrap {
  overflow: visible;
  overflow-x: clip;
}

//圖片的黃金比例
.golden-box{
	max-width: 300px;
	aspect-ratio: 1.618/1;
	vertical-align: middle;
	object-fit: cover;
	@include mobile{
		max-width: none;
		aspect-ratio: auto;
	}
}

