<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />    
    <title>服務方案 - 職旅｜Workway</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="py-md-12 py-9 position-relative" style="background-image: url(../assets/images/service/banner-bg-pc.png); background-position: center; background-size: cover;">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8">
            <h1 class="fw-bold fs-md-1 fs-2 pb-md-9 pb-6">服務方案</h1>
            <p class="lh-base fs-md-6 fs-7 text-natural-50">我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。</p>
          </div>
        </div>      
      </div>
      <img src="../assets/images/service/banner-person.svg" alt="服務方案" class="position-absolute d-none d-xl-block" style="bottom: -10px; right: 400px;">
    </header>

    <!-- 職涯轉型全程計畫 -->
    <section class="container py-md-12 py-9">
      <!-- 標題 -->
      <div class="d-flex flex-column justify-content-center align-items-center pb-md-9 pb-6">
        <img src="../assets/images/service/goal.png" alt="職涯轉型全程計畫" class="mb-1">
        <h2 class="fs-md-2 fs-3 fw-bold mb-md-6 mb-4">職涯轉型全程計畫</h2>
        <p class="fs-md-6 fs-7 lh-base text-natural-50">從企業到自由，無縫轉型之旅</p>
      </div>
      <!-- 卡片列表 -->
      <div class="row flex-column">
        <ul class="col">
          <!-- 卡片1 -->
          <li class="card mb-md-6 mb-4 border shadow-sm overflow-hidden">
            <input type="radio" id="plan1" name="plan-fullplan" value="plan1" class="hot-input" checked>
            <label for="plan1" class="hot-label">
              <div class="d-flex justify-content-between">
                <!-- 文字 -->
                <div class="d-flex flex-column align-items-start gap-md-6 gap-4 pt-9 ps-md-9 pb-md-9 px-6 pb-6 w-100">
                  <div class="d-flex flex-column gap-2">
                    <p class="fw-medium text-primary fs-md-7 fs-8">全面方案</p>
                    <h3 class="fw-medium fs-md-4 fs-5">職涯轉型全程計畫</h3>
                    <p class="fs-md-7 fs-8 lh-base">針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。</p>
                    <ul class="d-flex flex-column gap-1 p-0 m-0">
                      <li class="fs-md-7 fs-8 lh-base diamond-list">深度職能轉換評估與規劃</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">跨領域技能遷移策略</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">新領域人脈建立指導</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">長期職涯發展藍圖</li>
                    </ul>
                  </div>
                  <div class="d-flex flex-column w-100 gap-2 bg-natural-95 p-md-6 p-4 rounded-1">
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">適合對象：</p>
                      <h4 class="fw-bold fs-md-7 fs-8">從企業職場轉型為自由工作者 / 數位遊牧者的專業人士</h4>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">優惠價格：</p>
                      <h4 class="fw-bold text-primary fs-md-4 fs-5">NT$ 120,000</h4>
                    </div>                  
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>                
                </div>
                <!-- 圖片 -->
                <div class="pt-9 pe-9 d-none d-md-block">
                  <img src="../assets/images/service/plan-1.svg" alt="職涯轉型全程計畫" style="max-width: 300px;">
                </div>
                <!-- HOT
                <div class="hot">HOT</div> -->
              </div>              
            </label>
          </li>
          <!-- 卡片2 -->
          <li class="card mb-md-6 mb-4 border shadow-sm overflow-hidden"> 
            <input type="radio" id="plan2" name="plan-fullplan" value="plan2" class="hot-input">
            <label for="plan2" class="hot-label">
              <div class="d-flex justify-content-between">
                <!-- 文字 -->
                <div class="d-flex flex-column align-items-start gap-md-6 gap-4 pt-md-9 pt-6 ps-md-9 pb-md-9 px-6 pb-6 w-100">
                  <div class="d-flex flex-column gap-2">
                    <p class="fw-medium text-primary fs-md-7 fs-8">加速方案</p>
                    <h3 class="fw-medium fs-md-4 fs-5">自由工作加速計畫</h3>
                    <p class="fs-md-7 fs-8 lh-base">為已確定要轉型但需要全面規劃的專業人士設計。六次深度諮詢，從心態調整到實際操作，全方位為您的轉型做好準備。</p>
                    <ul class="d-flex flex-column gap-1 p-0 m-0">
                      <li class="fs-md-7 fs-8 lh-base diamond-list">詳細的市場機會分析</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">個人優勢定位與差異化策略</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">完整的轉型時間表與里程碑</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">轉型期間的心理健康維護策略</li>
                    </ul>
                  </div>
                  <div class="d-flex flex-column w-100 gap-2 bg-natural-95 p-md-6 p-4 rounded-1">
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">適合對象：</p>
                      <h4 class="fw-bold fs-md-7 fs-8">已經開始自由工作但想提升效能和收入的專業人士</h4>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">優惠價格：</p>
                      <h4 class="fw-bold text-primary fs-md-4 fs-5">NT$ 80,000</h4>
                    </div>                  
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>                
                </div>
                <!-- 圖片 -->
                <div class="pt-9 pe-9 d-none d-md-block">
                  <img src="../assets/images/service/plan-2.svg" alt="自由工作加速計畫" style="max-width: 300px;">
                </div>
              </div>
            </label>            
          </li>
          <!-- 卡片3 -->
          <li class="card mb-md-6 mb-4 border shadow-sm overflow-hidden">
            <input type="radio" id="plan3" name="plan-fullplan" value="plan3" class="hot-input">
            <label for="plan3" class="hot-label">
              <div class="d-flex justify-content-between">
                <!-- 文字 -->
                <div class="d-flex flex-column align-items-start gap-md-6 gap-4 pt-md-9 pt-6 ps-md-9 pb-md-9 px-6 pb-6 w-100">
                  <div class="d-flex flex-column gap-2">
                    <p class="fw-medium text-primary fs-md-7 fs-8">遊牧方案</p>
                    <h3 class="fw-medium fs-md-4 fs-5">數位遊牧生活計畫</h3>
                    <p class="fs-md-7 fs-8 lh-base">針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。</p>
                    <ul class="d-flex flex-column gap-1 p-0 m-0">
                      <li class="fs-md-7 fs-8 lh-base diamond-list">深度職能轉換評估與規劃</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">新領域人脈建立指導</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">跨領域技能遷移策略</li>
                      <li class="fs-md-7 fs-8 lh-base diamond-list">長期職涯發展藍圖</li>
                    </ul>
                  </div>
                  <div class="d-flex flex-column w-100 gap-2 bg-natural-95 p-md-6 p-4 rounded-1">
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">適合對象：</p>
                      <h4 class="fw-bold fs-md-7 fs-8">希望同時擁有工作自由和地域自由的專業人士</h4>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="lh-base fs-md-7 fs-8 flex-shrink-0">優惠價格：</p>
                      <h4 class="fw-bold text-primary fs-md-4 fs-5">NT$ 60,000</h4>
                    </div>                  
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>                
                </div>
                <!-- 圖片 -->
                <div class="pt-9 pe-9 d-none d-md-block">
                  <img src="../assets/images/service/plan-3.svg" alt="數位遊牧生活計畫" style="max-width: 300px;">
                </div>
              </div>          
            </label>         
          </li>
        </ul>
      </div>
    </section>

    <!-- 基礎諮詢服務 -->
    <section class="bg-natural-95">
      <div class="container py-md-12 py-9">   
        <!-- 標題 -->
        <div class="d-flex flex-column justify-content-center align-items-center pb-md-9 pb-6">
          <img src="../assets/images/service/conversation.png" alt="基礎諮詢服務" class="mb-1">
          <h2 class="fs-md-2 fs-3 fw-bold mb-md-6 mb-4">基礎諮詢服務</h2>
          <p class="fs-md-6 fs-7 lh-base text-natural-50">我們提供第一次免費諮詢，一起建立信任的橋樑</p>
        </div>
        <!-- 卡片list -->
        <ul class="row flex-column flex-md-row">
          <!-- 卡片1 -->
          <li class="col-md-4 mb-md-0 mb-4">
            <div class="card border rounded-4 shadow-sm overflow-hidden">
              <input type="radio" id="consult2" name="plan-consult" value="consult2" class="hot-input" checked>
              <label for="consult2" class="hot-label">
                <div class="d-flex flex-column gap-md-6 gap-4 align-items-center py-6 px-md-6 px-4">
                  <img src="../assets/images/service/server-1.svg" alt="職涯探索評估">
                  <div class="d-flex flex-column gap-2 align-items-center">
                    <h3 class="fw-bold fs-md-4 fs-5">職涯探索評估</h3>
                    <p class="text-natural-50 lh-base fs-8">3 次一對一諮詢，了解可能性和適配性</p>
                    <h4 class="fw-bold text-primary fs-5 fs-md-4">NT$ 3,800</h4>
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>    
                </div>
              </label>              
            </div>
          </li>
          <!-- 卡片2 -->
          <li class="col-md-4 mb-md-0 mb-4">
            <div class="card border rounded-4 shadow-sm overflow-hidden">
              <input type="radio" id="consult1" name="plan-consult" value="consult1" class="hot-input" checked>
              <label for="consult1" class="hot-label">
                <div class="d-flex flex-column gap-md-6 gap-4 align-items-center py-6 px-md-6 px-4">
                  <img src="../assets/images/service/server-2.svg" alt="職涯轉型規劃">
                  <div class="d-flex flex-column gap-2 align-items-center">
                    <h3 class="fw-bold fs-md-4 fs-5">職涯轉型規劃</h3>
                    <p class="text-natural-50 lh-base fs-8">6 次深度諮詢，建立完整轉型藍圖</p>
                    <h4 class="fw-bold text-primary fs-5 fs-md-4">NT$ 12,000</h4>
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>    
                </div>
              </label>              
            </div>
          </li>
          <!-- 卡片3 -->
          <li class="col-md-4 mb-md-0 mb-4">
            <div class="card border rounded-4 shadow-sm overflow-hidden">
              <input type="radio" id="consult3" name="plan-consult" value="consult3" class="hot-input" checked>
              <label for="consult3" class="hot-label">
                <div class="d-flex flex-column gap-md-6 gap-4 align-items-center py-6 px-md-6 px-4">
                  <img src="../assets/images/service/server-3.svg" alt="專業定位與品牌建立">
                  <div class="d-flex flex-column gap-2 align-items-center">
                    <h3 class="fw-bold fs-md-4 fs-5">專業定位與品牌建立</h3>
                    <p class="text-natural-50 lh-base fs-8">4 次專業諮詢，確立市場定位與差異化策略</p>
                    <h4 class="fw-bold text-primary fs-5 fs-md-4">NT$ 8,800</h4>
                  </div>
                  <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>    
                </div>
              </label>
            </div>
          </li>
        </ul>         
      </div>
    </section>

    <!-- 持續支持方案 -->
    <section style="background: linear-gradient(to bottom, #F0F3F5 300px, white 0);">
      <div class="container py-md-12 py-9">
        <!-- 標題 -->
        <div class="d-flex flex-column justify-content-center align-items-center pb-md-9 pb-6">
          <img src="../assets/images/service/love.png" alt="持續支持方案" class="mb-1">
          <h2 class="fs-md-2 fs-3 fw-bold mb-md-6 mb-4">持續支持方案</h2>          
        </div>
        <!-- 卡片 -->
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card border rounded-3 shadow-sm p-md-9 p-6 border-secondary border-2 bg-secondary-70 overflow-hidden">
              <div class="d-flex flex-column align-items-center z-2">
                <h3 class="fw-medium fs-md-4 fs -5 mb-2">職旅會員計畫</h3>
                <p class="text-black lh-base fs-md-7 fs-8 mb-9">享有長期社群支持與資源服務</p>
                <div class="d-flex align-items-center mb-9">
                  <h4 class="fw-bold text-primary fs-5 fs-md-4 me-2">NT$ 9,800</h4>
                  <p class="fw-md-7 fs-8 me-2">/年</p>
                  <p class="fw-medium fw-md-7 fs-8">( NT$1,200 /月)</p>
                </div>
                <button type="button" class="btn rounded-4 btn-dark py-3 ps-5 pe-4">我有興趣<span class="material-icons-outlined align-text-bottom">keyboard_arrow_right</span></button>
              </div> 
              <img class="position-absolute z-0" src="../assets/images/service/subscribe-3.svg" alt="bg" style="top: 0px; right: 0px;">
              <img class="position-absolute z-1 d-none d-md-block" src="../assets/images/service/subscribe-2.svg" alt="subscribe-2" style="bottom: -1px; right: 24px;">
              <img class="position-absolute z-1 d-none d-md-block" src="../assets/images/service/subscribe-1.svg" alt="subscribe-1" style="bottom: -1px; left: 24px;">
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <%- include('./layout/contant-block'); -%>
    <%- include('./layout/footer'); -%>    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>

